@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Roboto-300.ttf) format("ttf");
    font-display: swap;
  }
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf) format("ttf");
    font-display: swap;
  }
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf) format("ttf");
    font-display: swap;
  }
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/Roboto-MediumItalic.ttf) format("ttf");
    font-display: swap;
  }
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/Roboto-MediumItalic.ttf) format("ttf");
    font-display: swap;
  }
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf) format("ttf");
    font-display: swap;
  }