.header {
    color: #ffffff;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
    &__img {
        border-top-left-radius: 7px;
    }
    &__link {
        display: none;
    }
    &__inner {
        display: flex;
        background-color: #faae5d;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }
    &__wrapper {
        width: 100%;
        padding: 50px 15px 20px 50px;
    }
    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 45px;
        line-height: 35px;
        &-wrapper {
            font-style: italic;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 0.7px;
        }
    }
    &__descr {
        font-weight: 300;
        font-style: italic;
        font-size: 20px;
        margin: 0;
        margin-top: 10px;
        text-align: right;
    }
    &__phones {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__phone {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        &:hover {
            color: rgba(277, 277, 277, 0.6);
            text-shadow: none;
        }
        &:active {
            color: rgba(277, 277, 277, 0.3);
            text-shadow: none;
        }
    }
}